@model IEnumerable<Sanitario.Models.Medicinale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cassetto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cassetto.IdCassetto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedicinale">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedicinale">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMedicinale">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
